{{> header}}

<h1>Add user</h1>
{{> add-user}}

<h1>Faculty</h1>

<div class="row align-items-center">
{{# faculties}}
        <div class="col-lg-4">
            <div class="pricing-box rounded text-center p-4">
                <div class="pricing-icon-bg my-3">
                    <img src="{{imageUrl}}" alt="Profile Picture"
                         class="img-fluid d-block mx-auto rounded-circle" style="width: 200px; height: 200px;">
                </div>
                <h4 class="title mb-3">{{firstName}} {{lastName}}</h4>
                <p class="text-muted font-weight-semibold">{{description}}</p>
                <ul class="list-unstyled pricing-item mb-4">
                    <li class="text-muted"><span style="font-weight: bold;">Address:</span> <br>
                        {{address}}
                    </li>
                    <li class="text-muted"><span style="font-weight: bold;">Contact No:</span>
                        {{contactNumber}} <br>
                        <span style="font-weight: bold;">Web:</span> {{website}}
                    </li>
                    <li class="text-muted"><span style="font-weight: bold;">E Mail:</span>
                        {{mails}}</li>
                </ul>
                <div class="mt-4">
                    <div class="hero-bottom-img">
                        <img src="images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
                    </div>
                </div>
            </div>
        </div>
{{/faculties}}
</div>

<h1>Researchers</h1>

<div class="row align-items-center">
{{#researchers}}
        <div class="row align-items-center">
            <div class="col-sm-3 ">
                <div class="mt-4 mt-lg-0">
                    <img src="{{imageUrl}}" alt=""
                         class="img-thumbnail d-block mx-auto" width="180px">
                </div>
            </div>
            <div class="col-sm-9">
                <h3 class="font-weight-semibold line-height-1_4 mb-4"><b>{{firstName}} {{lastName}}</b>
                </h3>
                <p class="text-muted font-size-16 mb-4">{{description}}
                </p>
            </div>
        </div>
{{/researchers}}
</div>

<h1>Publications</h1>

<div class="row align-items-center">
    {{# publications}}
        <div class="contentText">{{index}} <a href="/publications/{{author.username}}">{{author.firstName}} <b>{{author.lastName}}</b> </a><b> <a href="{{url}}">"{{title}}” </a> </b>
            has been accepted for publication in <b>{{journal}}</b> <br> <br>
        </div>
    {{/publications}}
</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#publicationsModal">Add Publication</button>

<div class="modal fade" id="publicationsModal" tabindex="-1" aria-labelledby="publicationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="publicationsModalLabel">New publication</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/api/publications/">
                    <div class="mb-3">
                        <label for="authorUsername" class="col-form-label">Author Username:</label>
                        <input type="text" class="form-control" id="authorUsername" name="authorUsername">
                    </div>
                    <div class="mb-3">
                        <label for="title" class="col-form-label">Title : </label>
                        <input type="text" name="title" class="form-control" id="title">
                    </div>
                    <div class="mb-3">
                        <label for="url" class="col-form-label">Link : </label>
                        <input type="text" name="url" class="form-control" id="url">
                    </div>
                    <div class="mb-3">
                        <label for="journal" class="col-form-label">Journal : </label>
                        <input type="text" name="journal" class="form-control" id="journal">
                    </div>
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-size-15 icon ms-1"
                                                                                data-feather="arrow-right-circle"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<section class="section" id="feedback">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="mb-4 mb-lg-0">
                    <div class="p-2 bg-soft-primary d-inline-block rounded mb-4">
                        <div class="icon-xxl uim-icon-primary"><i class="uim uim-cube"></i></div>
                    </div>
                    <h3 class="">User Feedback</h3>
                    <p class="text-muted mb-4">A qualitative and quantitative data from customers on their likes,
                        dislikes, impressions, and requests about a product.</p>
                    <!-- <a href="#" class="btn btn-outline-primary">Books</a> -->
                </div>
            </div>
            {{# feedback}}
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
                            <h5 class="fw-bold mb-2 wc-title mt-4">{{feedback}}
                            </h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle">By {{name}}</p>

                        </div>
                    </div>
                </div>
            </div>
            {{/feedback}}
        </div>
    </div>
</section>

{{> footer}}