{{> header}}
<!-- Faculty Start -->

<section class="section bg-light" id="Faculty">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3 class="title mb-3">Faculty</h3>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            {{# faculties}}
                <div class="col-lg-4">
                    <div class="pricing-box rounded text-center p-4">
                        <div class="pricing-icon-bg my-3">
                            <img src="{{imageUrl}}" alt="Profile Picture"
                                 class="img-fluid d-block mx-auto rounded-circle" style="width: 200px; height: 200px;">
                        </div>
                        <h4 class="title mb-3">{{firstName}} {{lastName}}</h4>
                        <p class="text-muted font-weight-semibold">{{description}}</p>
                        <ul class="list-unstyled pricing-item mb-4">
                            <li class="text-muted"><span style="font-weight: bold;">Address:</span> <br>
                                {{address}}
                            </li>
                            <li class="text-muted"><span style="font-weight: bold;">Contact No:</span>
                                {{contactNumber}} <br>
                                <span style="font-weight: bold;">Web:</span> {{website}}
                            </li>
                            <li class="text-muted"><span style="font-weight: bold;">E Mail:</span>
                                {{mails}}</li>
                        </ul>
                        <div class="mt-4">
                            <div class="hero-bottom-img">
                                <img src="images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
                            </div>
                        </div>
                    </div>
                </div>
            {{/faculties}}
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center p-4">
                    <div class="pricing-icon-bg my-3">
                        <img src="https://serl.iiita.ac.in/Profile/sonali.jpg" alt="Profile Picture"
                             class="img-fluid d-block mx-auto rounded-circle" style="width: 200px; height: 200px;">
                    </div>
                    <h4 class="title mb-3">Dr. Sonali Agarwal</h4>
                    <p class="text-muted font-weight-semibold">Assistant Professor
                        IIIT Allahabad</p>
                    <ul class="list-unstyled pricing-item mb-4">
                        <li class="text-muted"><span style="font-weight: bold;">Address:</span> <br>
                            Room No: 5203, CC3 Building <br>
                            Indian Institute of Information Technology
                            Devghat Jhalwa
                            Allahabad (UP) INDIA
                        </li>
                        <li class="text-muted"><span style="font-weight: bold;">Contact No:</span> <br>
                            <span style="font-weight: bold;">Web:</span> www.sonaliagarwal.com
                        </li>
                        <li class="text-muted"><span style="font-weight: bold;">E Mail:</span>
                            sonali@iiita.ac.in <br>
                            raiagarwalsonali@gmail.com</li>
                    </ul>
                    <div class="mt-4">
                        <div class="hero-bottom-img">
                            <img src="images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center p-4">
                    <div class="pricing-icon-bg my-3">
                        <img src="https://serl.iiita.ac.in/Profile/akki.channappa.jpg" alt="Profile Picture"
                             class="img-fluid d-block mx-auto rounded-circle" style="width: 200px; height: 200px;">
                    </div>
                    <h4 class="title mb-3">Prof. Channappa B Akki</h4>
                    <p class="text-muted font-weight-semibold">Professor
                        IIIT Allahabad</p>
                    <ul class="list-unstyled pricing-item mb-4">
                        <li class="text-muted"><span style="font-weight: bold;">Address:</span> <br>
                            Indian Institute of Information Technology - Allahabad
                            Devghat, Jhalwa,
                            Allahabad 211 015, (UP) INDIA
                        </li>
                        <li class="text-muted"><span style="font-weight: bold;">Contact No:</span>
                            +91-532-2922161 <br>
                            +91-8197277253 (M)
                        </li>
                        <li class="text-muted"><span style="font-weight: bold;">E Mail:</span>
                            akki.channappa@iiita.ac.in <br>
                            akki.channappa@gmail.com</li>
                    </ul>
                    <div class="mt-4">
                        <div class="hero-bottom-img">
                            <img src="images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pricing-box rounded text-center p-4">
                    <div class="pricing-icon-bg my-3">
                        <img src="https://serl.iiita.ac.in/Profile/image003.jpg" alt="Profile Picture"
                             class="img-fluid d-block mx-auto rounded-circle" style="width: 200px; height: 200px;">
                    </div>
                    <h4 class="title mb-3">Dr. Vrijendra Singh</h4>
                    <p class="text-muted font-weight-semibold">HOD IT
                        IIIT Allahabad</p>
                    <ul class="list-unstyled pricing-item mb-4">
                        <li class="text-muted"><span style="font-weight: bold;">Address:</span> <br>
                            Computer Center- 3,
                            Indian Institute of Information Technology Allahabad,
                            Deoghat, Jhalwa,
                            Allahabad (India)
                        </li>
                        <li class="text-muted"><span style="font-weight: bold;">Contact No:</span>
                            Office : +91-532-2922092 <br>
                            Residence : +91-532-2922611 <br>
                            Mobile : +91-737-6581984
                        </li>
                        <li class="text-muted"><span style="font-weight: bold;">E Mail:</span>
                            vrijendra.singh@gmail.com <br>
                            vrij@iiita.ac.in</li>
                    </ul>
                    <div class="mt-4">
                        <div class="hero-bottom-img">
                            <img src="images/pricing-bottom-bg.png" alt="" class="img-fluid d-block mx-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Faculty End -->
{{> footer}}