{{> header}}

<!-- Features Start -->
<section class="section bg-light feather-bg-img" style="background-image: url(static/images/features-bg-img.png);"
         id="About">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3 class="title mb-3">About - SERL</h3>
                    <p class="text-muted font-size-17">SERL@IIITA is a research lab focused on developing scalable
                        solutions for complex software systems based on business
                        needs.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="mb-4 mb-lg-0">
                    <img src="https://cdn.dribbble.com/users/508588/screenshots/11263679/thg_m78_05_4x.jpg" alt=""
                         class="img-fluid d-block mx-auto">
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <!-- <p class="font-weight-medium text-uppercase mb-2"><i
                        class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i> Creative Features</p> -->
                <h3 class="font-weight-semibold line-height-1_4 mb-4">About <b>Software Engineering Research Lab</b>
                </h3>
                <p class="text-muted font-size-17 mb-4">The (SERL) at IIIT Allahabad will conduct research on
                    designing complex, large-scale
                    software systems that meet business needs. The lab will cover various research domains and
                    address industrial software
                    engineering challenges. Collaboration with industry experts will ensure solutions are thoroughly
                    evaluated for
                    real-world applications. The lab will provide a platform for researchers and students to
                    showcase their potential
                    globally.</p>
                <!-- <p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="layout"></i> Donec pede justo
                    fringilla vel nec.</p>
                <p class="text-muted"><i class="icon-xs me-1" data-feather="life-buoy"></i> Cras ultricies mi eu
                    turpis hendrerit fringilla.</p>
                <div class="mt-5">
                    <a href="#" class="btn btn-primary me-2">Read More</a>
                    <a href="#" class="btn btn-soft-primary">Buy Now</a>
                </div> -->
            </div>
        </div>
    </div>
</section>


<section class="section feather-bg-img" style="background-image: url(static/images/features-bg-img-1.png)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3 class="title mb-3">About - Mission & Vision</h3>
                    <p class="text-muted font-size-17">
                        "Big thinking precedes great achievement."</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">


            <div class="col-lg-6">
                <!-- <p class="font-weight-medium text-uppercase mb-2"><i
                            class="mdi mdi-chart-bubble h2 text-primary me-1 align-middle"></i> Creative Features</p> -->
                <h3 class="font-weight-semibold line-height-1_4 mb-4">About <b>Mission</b> & <b>Vision</b></b>
                </h3>
                <p class="text-muted font-size-18 mb-4">The mission of this initiative is to establish a research
                    lab of an industrial repute through various scholarly
                    activities such as development of software tools, establishment of special interest groups,
                    organizing conferences,
                    workshops, forums for open source solutions and hands-on training in order to provide reliable
                    and repeatable results to
                    reflect our core strategy and vision of deepening excellence.</p>
                <!-- <p class="text-muted mb-2"><i class="icon-xs me-1" data-feather="layout"></i> Donec pede justo
                        fringilla vel nec.</p>
                    <p class="text-muted"><i class="icon-xs me-1" data-feather="life-buoy"></i> Cras ultricies mi eu
                        turpis hendrerit fringilla.</p>
                    <div class="mt-5">
                        <a href="#" class="btn btn-primary me-2">Read More</a>
                        <a href="#" class="btn btn-soft-primary">Buy Now</a>
                    </div> -->
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="mb-4 mb-lg-0">
                    <img src="https://blog.imarticus.org/wp-content/uploads/2021/12/bwgg.gif" alt=""
                         class="img-fluid d-block mx-auto">
                </div>
            </div>
        </div>
    </div>
</section>

{{> footer}}