{{> header}}
<section class="section" id="Resources">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="wc-box rounded text-center wc-box-primary p-4 mt-md-5">
                            <h5 class="fw-bold mb-2 wc-title mt-4">Software Engineering : A Practitioner's Approach
                            </h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle">By Roger Pressman (Author)</p>
                            <div style="margin-top: 30px;"><a
                                    href="https://www.amazon.in/Software-Engineering-Practitioners-Roger-Pressman/dp/0071267824"
                                    class="btn btn-outline-info" target="_blank">Buy</a></div>

                        </div>
                        <div class="wc-box rounded text-center wc-box-primary p-4">
                            <div class="wc-box-icon icon">
                                <img src="https://m.media-amazon.com/images/I/51DRGrV0N9L.jpg" alt="">
                            </div>
                            <h5 class="fw-bold mb-2 wc-title mt-4">Software Architecture in Practice (3rd Edition)
                            </h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle">By Len Bass (Author), Paul Clements
                                (Author), Rick Kazman (Author)</p>
                            <div style="margin-top: 30px;"><a
                                    href="https://www.amazon.com/Software-Architecture-Practice-3rd-Engineering/dp/0321815734"
                                    class="btn btn-outline-info" target="_blank">Buy</a></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wc-box rounded text-center wc-box-primary p-4">
                            <div class="wc-box-icon icon">
                                <img src="https://d1b14unh5d6w7g.cloudfront.net/1439838224.01.S001.LXXXXXXX.jpg?Expires=1680893148&Signature=GAhGLI5nZrxSwvgJpC3xPNKa~Z3WBMKQEkLM8OpfMqseryzI3u7f5wczhfFBaMvZXvPYhB~cARJaS58nw6GNh9yDfO9quT0afFZHee3DW~W4Yd702Va9nP0-aDgV-r2pWMN0wwCd5xaf8kGb4M2x8ymUy5BVAaNa83TRldznn8E_&Key-Pair-Id=APKAIUO27P366FGALUMQ"
                                     alt="">
                            </div>
                            <h5 class="fw-bold mb-2 wc-title mt-4">Software Metrics: A Rigorous and Practical
                                Approach
                            </h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle">By Norman Fenton (Author)</p>
                            <div style="margin-top: 30px;"><a
                                    href="https://www.amazon.in/Software-Metrics-Innovations-Engineering-Development/dp/1439838224?_encoding=UTF8&%2AVersion%2A=1&%2Aentries%2A=0&portal-device-attributes=desktop"
                                    class="btn btn-outline-info" target="_blank">Buy</a></div>

                        </div>
                        <div class="wc-box rounded text-center wc-box-primary p-4">
                            <div class="wc-box-icon icon">
                                <img src="https://m.media-amazon.com/images/I/51GXv-sMBYL.jpg" alt="">
                            </div>
                            <h5 class="fw-bold mb-2 wc-title mt-4">Agile Software Development, Principles, Patterns
                            </h5>
                            <p class="text-muted mb-0 font-size-15 wc-subtitle">By Robert Martin (Author)</p>
                            <div style="margin-top: 30px;"><a
                                    href="https://www.amazon.com/gp/product/0135974445/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0135974445&linkCode=as2&tag=aiop04-20&linkId=WYONYP5GDQFCFGZH"
                                    class="btn btn-outline-info" target="_blank">Buy</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}